<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="static\login.css">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="alert alert-danger" role="alert">
                            <div class="alert-content">
                                {{ message }}
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            <div class="alert-content">
                                {{ message }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="login">
        <div class="card">
            <div class="left">
                <h1>Art Space.</h1>
                <span>Don't you have an account?</span>
                <a href="/sign-up">
                    <button>Sign Up</button>
                 </a>
            </div>
            <div class="right">
                <h1>Login</h1>
                <form method="POST">
                    <input type="text" id="email" name="email" placeholder="Email"/>
                    <input type="password" id="password" name="password" placeholder="Password"/>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => setTimeout(() => document.querySelectorAll('.alert').forEach(alert => setTimeout(() => alert.remove(), 500)), 1000));
    </script>
</body>
</html>